:root{

    /*PALETA DE CORES*/
    --color-1:#f5f5f5;
    --color-2:#f2ede4;
    --color-3:#e8a598;
    --color-4:#006295;
    --color-5:#303c4a;
    --color-6:#0a0c0f;


}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
html::after,
html::before {
    font-size: 1.6rem;
    background-color: var(--cor_fundo);
    font-family: var(--font_padrao);

}

body,
body::after,
body::before {
    font-size: 60.5%;
}

section.container{
    background-color: #006295;
}
