
/* Estilização do  */
section.links_container{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        & section.exemplo{
            width: 50%;
            height: 50%;
            background-color: #0a0c0f;

            display: flex;
            justify-content: center;
            align-items: center;

            & h1 a{
                color: aliceblue;
            }

            & p {

            }


        }
    }
