/* ===== ESTILO BASE (Mobile) ===== */
main.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* ---------------------------------------------------------- */
  & section.Loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    /* estilização do container dos quadrados de loading */
    & section.container_quadrados{
      display: grid;
      /* 50px para os elementos da primeira linha e 50px na segunda linha */
      grid-template-rows: 60px 60px;
      /* 50px para os elementos da primeira coluna e 50px para segunda coluna */
      grid-template-columns: 60px 60px;
      
      gap: var(--gap);
    
      justify-content: center;
      align-content: center;

      animation: rotate linear infinite 20s;

      /* ----------------------------------------------------------- */
      & div.quadrado{
        display: grid;
        position: relative;

        /* O quadrado ocupa todo espaço pré determinado pela config de grid do container pai */
        height: 100%;
        width: 100%;
        will-change: transform;
        mix-blend-mode: overlay;
          

        /* Quadrado 1 */
        &#quadrado_1{
          
          /* background-color: #006295 ; */
          background-color: var(--color-5);

          opacity: .8;
          animation: quadrado_1 5s ease-in-out infinite;
          animation-delay: 1s;


        }

        /* Quadrado 2 */
        &#quadrado_2{
          
          background-color: #2690ca;
          opacity: .8;

          animation: quadrado_2 5s ease-in-out infinite;
          animation-delay: 0 ;


        }
        
        /* Quadrado 3 */
        &#quadrado_3{
          
          /* background-color: #3eb1ee; */

          background-color: var(--color-3);

          opacity: .8;

          animation: quadrado_3 5s ease-in-out infinite;
          animation-delay:  1s;

        }

        
      }

    }


    /* Estilização da barra de carregamento */

    & div.progress{
      background-color: #fff;
      width: 70vw;
      max-width: 500px;
      height: 2vh;
      border: solid .5px  ;
      border-radius: 20px;

    }

    & h1.txt_loading{
      font-size: clamp(1.5rem, 5vw, 1rem);
    }
  }

}

.titulo-responsivo {
  /* Define um tamanho de fonte que varia entre 1.5rem (mínimo), 
     5vw (valor preferencial que escala com a tela) e 3rem (máximo) */
  font-size: clamp(1.5rem, 5vw, 3rem);
}




/* (Start) Animação dos quadrados de loading */

@keyframes rotate{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes quadrado_1 {
  25% {
    transform: translate(calc(100% + var(--gap)), 0);
  }

  50% {
    transform: translate(calc(100% + var(--gap)), calc(100% + var(--gap)));
  }

  75% {
    transform: translate(0, calc(100% + var(--gap)));
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes quadrado_2 {
  25% {
    transform: translate(0, calc(100% + var(--gap)));
  }

  50% {
    transform: translate(calc(-100% - var(--gap)), calc(100% + var(--gap)));
  }

  75% {
    transform: translate(calc(-100% - var(--gap)), 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes quadrado_3 {
  25% {
    transform: translate(0, calc(-100% - var(--gap)));
  }

  50% {
    transform: translate(calc(100% + var(--gap)), calc(-100% - var(--gap)));
  }

  75% {
    transform: translate(calc(100% + var(--gap)), 0);
  }

  100% {
    transform: translate(0, 0);
  }
}


/* (end) Animação dos quadrados de loading */

/* ===== TABLET ===== */
@media screen and (min-width: 768px) {
  main.container {

  }
}

/* ===== DESKTOP ===== */
@media screen and (min-width: 1024px) {
  main.container {
    max-width: 1200px;
    margin: 0 auto;
  }
}